.arrow-container_prev {
    position: absolute;
    bottom: -50px;
    left: 600px;
    width: 100px;
    cursor: pointer;
}

.arrow-container_next {
    position: absolute;
    bottom: -50px;
    right: 600px;
    width: 100px;
    cursor: pointer;

}