.arrow-container_prev {
    position: absolute;
    bottom: -50px;
    left: 600px;
    width: 100px;
    cursor: pointer;
}

.arrow-container_next {
    position: absolute;
    bottom: -50px;
    right: 600px;
    width: 100px;
    cursor: pointer;

}

@media screen and (max-width: 1410px) {
    .arrow-container_next {
        bottom: 0;
        right: 35px;
    }
    .arrow-container_prev {
        bottom: 0;
        left: 35px;
    }
  }