.popup {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  z-index: 0;
  border-radius: 15px;
}

.popup_opened {
  opacity: 1;
  visibility: visible;
}

.popup__content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background: #000;
  z-index: 3;
}

.popup__close {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  right: 0;
  background-image: url(../../assets/cross.svg);
  background-color: transparent;
  background-size: cover;
  padding: 0;
  margin: 0;
  border: none;
}

.popup__links-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 30px;
  cursor: pointer;
}
