.slick-slider {
  max-width: 1430px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.slick-slider_container {
  position: relative;
  margin: 0 0 200px 0;
}

@media screen and (max-width: 1410px) {
  .slick-slider {
    margin: 0 auto;
    align-items: center;
  }

  .slick-slider_container {
    margin: 0 auto;
    width: 290px;
  }
}
