.item {
    position: relative;
}

.item__img {
    max-width: 1240px;
    height: 650px;
}

.item__title {
    // position: absolute;
    // bottom: 200px;
    color: #fff;
    width: 100px;
    margin: 0;
}