.popup-button {
    background: rgba(0 0 0 / 34%);
}

.popup-button__image {
  width: 36px;
  height: 24px;
  background-image: url(../../assets/burger.svg);
  background-color: unset;
  background-repeat: no-repeat;
  border: none;
}
