.news {
  max-width: 1240px;
  margin: 0 auto;
}

.news__title {
  font-family: Mplus 1p;
  font-size: 80px;
  font-weight: 500;
  line-height: 85px;
  letter-spacing: -0.03em;
  text-align: left;
  margin: 100px 0 30px 0;
  color: #fff;
}

@media screen and (max-width: 1410px) {
  .news__title {
    font-family: Mplus 1p;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 85px; 
    letter-spacing: -1.2px;
  }
  .news {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 0 80px 15px;
  }
}
