.news {
  max-width: 1240px;
  margin: 0 auto;
}

.news__title {
  font-family: Mplus 1p;
  font-size: 80px;
  font-weight: 500;
  line-height: 85px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #fff;
}
